html, body {
  margin: 0;
  padding: 0;
  background-color: #C25B7A;
}
canvas {
  display: block;
}

#content {

}

#text {
  display: block;
  margin-top: 440px;
  margin-left: auto;
  margin-right: auto;
  width: 580px;
  height: 220px;
  padding: 10px;
  /* text-align: center; */
  background-color: #DC93A9;
}

#footer {
    position: absolute;
    bottom: 15px;
    width: 100%;
    text-align: center;
}

a.banner{
  display: block;
  width: 1000px;
  height: 1000px;
  margin-top: 20px;

}

